# Database
# Local development:
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/listlink"
#
# Cloud later:
# DATABASE_URL="postgresql://<user>:<password>@<host>:5432/<db>?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me"
AUTH_SECRET="change-me"
